@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'EB Garamond';
    src: url('../../assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 10rem;
    max-width: 1200px;
    flex-wrap: wrap;
  }
  
  .image {
    flex: 1;
    width: 20rem;
    height: 20rem;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .PlantInfo {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    left: 0;
  }
  
  .plantTitle {
    margin-bottom: 15px;
  }
  
  .plantName {
    font-family: 'EB Garamond';
    font-size: 3rem;
    font-weight: bold;
    color: #354733;
  }
  
  .plantSub {
    font-size: 1.1rem;
    color: #AFB2AA;
  }
  
  .plantLabels {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 5px 0;
    padding: 6px 0;
    flex-wrap: wrap;
  }
  
  .plantLabel, .plantType {
    background: #F6FFF6;
    border: 1px solid #83E281;
    padding: 5px 10px;
    border-radius: 19px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #2f3e46;
  }
  
  .plantPrice {
    font-family: 'Lato';
    font-size: 1.3rem;
    font-weight: bold;
    color: #2f3e46;
    margin: 5px 0;
  }
  
  button {
    background-color: #354733;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 5px 0;
    size: 3rem;
    transition: background-color 0.3s ease;
    font-family: 'Raleway';
  }
  
  #check {
    padding: 15px;
    width: 10rem;
    border-radius: 0rem;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #354f52;
  }
  
  .features {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-family: 'Lato';
  }
  
  .plantFeatures {
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 30px;
    color: #555;
    font-family: 'Raleway';
  }
  
  .plantDescription {
    margin: 20px 0 0 0;
  }
  
  .description {
    margin: 20px 0 20px 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    font-family: 'Lato';
  }
  
  .plantDescriptions {
    font-size: 1rem;
    color: #555;
  }
  