body{background-color: #F0F1EE;
  align-content: center;
margin: 1rem;
padding: 1rem;}

.containerSectionForm{display: flex;
flex-flow: column wrap;
height: 100vh;
justify-content: center;
}

.containerImgForm{
align-content: center;
width: 100vmax;
height: 100vmax;
background-image: url(./assets/img/image-21.png);

}