#users {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 85%;
    margin: 0 auto;
  }
  
  .user_profile {
    background-color: #354733;
    background-image: url("../../assets/fotos/footer-image.png"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    max-width: 100%;
    width: 30rem;
    height: 22rem;
    border-radius: 2rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 1.5rem;
  }

  .user_profile:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  
  #user_photo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  #social-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
  }
  
  .social {
    max-width: 1rem;
  }
  
  .social + span {
    margin-left: 0.3rem;
    color: #F0F1EE;
    display: inline-block;
    font-family: 'Raleway';
  }
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  h2 {
    color:  #F0F1EE;
    font-size: 1rem;
    font-family: 'Raleway';
  }

  #loc {
    color:  #F0F1EE;
    font-size: 0.8rem;
    font-family: 'Raleway';
    margin-top: 1rem;
  }
  
  body {
    background-color: #F0F1EE;
  }
  
  #github {
    background-color: white;
    border-radius: 1rem;
  }
  
  #title-au {
    font-family: 'EB Garamond';
    font-style: normal;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #354733;
    margin-bottom: 1rem;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  
  #text-au {
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
    font-size: 1.6rem;
    line-height: 154.5%;
    display: flex;
    align-items: center;
    color: #808276;
    margin-bottom: 1.2rem;
  }
  
  #subtitle-au {
    font-family: 'EB Garamond';
    font-style: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #354733;
  }
  
  @media (max-width: 768px) {
    #users {
      flex-direction: column;
      max-width: 90%;
    }
  
    .user_profile {
      width: 100%;
      height: auto;
      padding: 1.5rem;
    }
  
    #user_photo {
      width: 7.5rem;
      height: 7.5rem;
      margin-bottom: 1rem;
    }
  
    #title-au {
      font-size: 2.1rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    #text-au {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
  
    #subtitle-au {
      font-size: 2rem;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    #title-au {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  
    #text-au {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  
    #subtitle-au {
      font-size: 1.6rem;
    }
  }
  