.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #F0F1EE;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#fotohomem {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20%;
  margin-bottom: 20px; 
  margin-left: 4rem;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-us-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #354735;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px; 
}

.about-us-button:hover {
  background-color: #0c110c;
  transform: translateY(-3px); 
}

.about-us-button:focus {
  outline: none;
}
